/* GitGutter Popup Stylesheet - User */

.git-gutter div.toolbar {
  color: #f6c33a;
  padding: 5px;
}

.git-gutter div.toolbar symbol {
  font-size: 18px;
  padding: 0 5px;
  color: #f6c33a;
}

.git-gutter div.highlight {
  font-family: monospace;
  border-style: none;
  line-height: 20px;
  margin: 0;
  padding: 15px;
}

.git-gutter .hi-ins {
  color: #2dff5b;
  background-color: transparent;
}

.git-gutter .hi-del {
  color: #A3A3A3;
  background-color: transparent;
}

.git-gutter .hi-chg-ins {
  color: #FFFC2D;
  background-color: transparent;
}

.git-gutter .hi-chg-del {
  color: #ff232e;
  background-color: transparent;
}

/* color: #ff232e; */